[submodule "istio/api"]
	path = istio/api
	url = https://github.com/higress-group/api
[submodule "istio/istio"]
	path = istio/istio
	url = https://github.com/higress-group/istio
	branch = dev-1.19.5
[submodule "istio/client-go"]
	path = istio/client-go
	url = https://github.com/higress-group/client-go
[submodule "istio/pkg"]
	path = istio/pkg
	url = https://github.com/higress-group/pkg
[submodule "istio/proxy"]
	path = istio/proxy
	url = https://github.com/higress-group/proxy
[submodule "envoy/go-control-plane"]
	path = envoy/go-control-plane
	url = https://github.com/higress-group/go-control-plane
[submodule "envoy/envoy"]
	path = envoy/envoy
	url = https://github.com/higress-group/envoy
